<h2> Coupon List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增优惠券", new_admin_coupon_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">Coupon title</th>
      <th>Amount</th>
      <th>Start_at</th>
      <th>Expire_at</th>
      <th>Coupon_code</th>
      <th>Is_online</th>
      <th>Status</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td>
          <%= coupon.id %>
        </td>
        <td>
          <%= coupon.title %>
        </td>
        <td>
          <%= coupon.amount %>
        </td>
        <td>
          <%= coupon.start_at %>
        </td>
        <td>
          <%= coupon.expire_at %>
        </td>
        <td>
          <%= coupon.code %>
        </td>
        <td>
          <%= coupon.is_online %>
        </td>
        <td>
          <%= coupon.aasm_state %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_coupon_path(coupon)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
