<h2> New Coupon </h2>

<%= simple_form_for [:admin, @coupon] do |f| %>

  <div class="group">
    <%= f.input :title, class: 'title', placeholder: "请输入优惠券标题" %>
  </div>

  <div class="group">
    <%= f.input :amount, class: 'amount', placeholder: "请输入优惠金额" %>
  </div>

  <div class="group">
    <%= f.input :start_at,  class: 'datetime-local', type: "data", value: @coupon.start_at, placeholder: "请输入开始时间", id: "datetimepicker-expire", "data-date-format" => "YYYY-MM-DD" %>
  </div>

  <div class="group">
    <%= f.input :expire_at, class: 'datetime-local', type: "data", value: @coupon.expire_at, placeholder: "请输入结束时间", id: "datetimepicker-expire", "data-date-format" => "YYYY-MM-DD" %>
  </div>

  <div class="group">
    <%= f.input :is_online %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
